{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card border-secondary shadow">
          <div class="card-header bg-secondary text-white text-center">
            <h2>Penjelasan Tumor Otak</h2>
          </div>
          <div class="card-body">
            <p class="text-center lead">Tumor otak adalah massa yang tidak normal dan tumbuh di dalam otak. Tumor ini bisa bersifat jinak (non-kanker) atau ganas (kanker). Kedua jenis tumor otak dapat menyebabkan gangguan pada fungsi otak, karena mereka menekan atau merusak jaringan otak sehat di sekitarnya.</p>
            <p class="text-center lead">Klasifikasi tumor otak berdasarkan jenis dan lokasi yang tepat sangat penting dalam proses penanganan dan pengobatan. Namun, diagnosis tumor otak berdasarkan citra medis memerlukan keahlian medis yang khusus dan sering kali memerlukan waktu lama.</p>
            <p class="text-center lead">Dengan website ini, diharapkan pengguna dapat mengunggah citra otak mereka untuk melakukan deteksi dini tumor otak secara cepat dan efisien, sehingga memberikan informasi awal yang berharga bagi pasien dan tim medis dalam mengambil keputusan pengobatan.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
