{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card border-secondary shadow">
          <div class="card-header bg-secondary text-white text-center">
            <h2>Tujuan</h2>
          </div>
          <div class="card-body">
            <p class="text-center lead">Tujuan dari website ini adalah untuk membantu dalam deteksi dini dan klasifikasi tumor otak berdasarkan citra medis menggunakan arsitektur jaringan saraf konvolusional EfficientNet-B0. Dengan deteksi dini, diharapkan penanganan dan pengobatan dapat dimulai lebih cepat, meningkatkan peluang kesembuhan pasien serta mengurangi dampak yang ditimbulkan oleh tumor otak.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
